* {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    background-color: black;
    /* padding: 2em; */
    padding-left: 30px;
    width: 100%;
}

.navLinks {
    display: inline;
    list-style-type: none;
    padding: 30px;
    float: left;
}

a {
    color: white;
    text-decoration: none; 
}

.navLinks > a:link,  .navLinks > a:visited{
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
}

.navLinks > a:hover {
    color: #C3B299;
}

.navLinks > a:active {
    color: #3E885B;
}

.active > a {
    color: #3E885B;
    border: 3px solid #C3B299;
}

.container {
    color: black;
    width: 300px;
    padding: 30px;
    text-align: center;
    top: 80px;
    left: 33%;
    position: absolute;
    font-size: 30px;
    text-decoration: underline;
}

img.landing {
    width: 100%;
    margin-bottom: 0;
}

footer {
    /* position: fixed; */
    background-color: white;
    width: 100%;
    text-align: center;
    bottom: 0px;
}
footer > p {
    color: white;
    padding: 10px;
    font-size: 20px;
    background: black;
}

h1.aboutUs {
    text-align: center;
    font-size: 64px;
    padding-bottom: 10px;
    margin-top: 100px;
}

img.aboutImages {
    width: 30%;
    margin-left: 30px;
    margin-right: 30px;
    border: 10px groove khaki;
}

img.floatImageLeft {
    float: left;
}

img.floatImageRight {
    float: right;
}

div > p {
    font-size: 32px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 10px;
}

.aboutBackground, html {
    background-color: black;
    color: khaki;
}

div.customer {
    width: 350px;
    border: 10px solid rgba(0, 0, 255, 0.212);
    border-radius: 60px;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: lightgrey;
    color: black;
    box-shadow: 5px 5px rgb(4, 128, 0);
    padding-bottom: 35px;
}

div.customer > q {
    font-size: 20px;
}

h1#reviews {
    text-align: center;
    font-size: 64px;
    padding-bottom: 10px;
    margin-top: 100px;
}

#reviewsBackground,html {
    background-color: black;
}

div#stars{
    background-image: url("../images/goldstars.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

div.customer > img {
    width: 80px;
    float: left;
}

div.customer > img {
    width: 80px;
    float: left;
    margin-right: 30px;
    border: 5px groove khaki;
    border-radius: 60px;
    box-shadow: 5px 5px green;
}

/* #delay {
    font-size: 14px;
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0.5s;
  }
  
  #delay:hover {
    font-size: 72px;
  } */
  
.grid-container {
    display: inline-flexbox;
    grid-template-columns: auto auto auto;
    background-color: green;
    padding: 10px;
  }
  
.grid-item {
    background-color: black;
    border: 10px solid green;
    padding: 30px;
    font-size: 20px;
    text-align: center;
  }
  

div.grid-item {
      padding: 30px;
      font-size: 30px;
      cursor: pointer;
  }

div.grid-item:hover {
      background-color: khaki;
  }
  
div.grid-item.pressed, div.dropdown-content > a.pressed {
    background-color: red;
    cursor: not-allowed;
  }
  
  #workoutLinks {
    float: right;
    margin-right: 160px;
    clear: both;
    margin-top: 100px;
  }
  
  img.abs {
    /* float: left; */
    width: 300px;
    border: 5px groove khaki;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  li.abs {
    margin-left: 50px;
    /* float:right; */
    margin-top: 30px;
    font-size: 30px;
    list-style-type: none;
  }
  
  ol > div > li > ol {
    padding: 0px 0px 10px 20px;
    margin-left: 10px;
  }
  
  ol > div > li > ol > li {
    padding-bottom: 20px;
  }
  
  ol > div > li > p {
    padding-bottom: 10px;
  }
  
 h1.abs {
    text-align: center;
    font-size: 64px;
    margin-top: 100px;
 } 
  

#footer {
    position: absolute;
    bottom: -300px;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown .dropbtn {
    font-size: 1.5em;  
    border: none;
    outline: none;
    color: khaki;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    /* margin: 0; */
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    min-width: 117px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 69px;
    border: 1px solid khaki;
  }
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 12px 10px 10px;
    padding-bottom: 10px;;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 1px solid khaki;
  }
  
.dropdown-content a:hover {
    background-color: khaki;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
h1.index {
    background-color: black;
    color: white;
    opacity: 0.9;
}

div.container-form-signup {
    margin: 0 auto;
    background-image: url("../images/bruce-mars-gJtDg6WfMlQ-unsplash.jpg");
    background-size: 900px;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 45em;
    border: 10px groove khaki;
    padding: 100px 500px 100px 100px;
    margin-bottom: 150px;
}

div.container-form-login {
    margin: 0 auto;
    background-image: url("../images/bruce-mars-gJtDg6WfMlQ-unsplash.jpg");
    background-size: 900px;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 45em;
    border: 10px groove khaki;
    padding: 200px 500px 154px 100px;
    margin-bottom: 150px;
}

div > form > label > input[type=text], div > form > label > input[type=email], div > form > label > input[type=password] {
    width: 13em;
    padding: 7px;
    border: 5px solid green;
    margin-bottom: 10px;
    margin-top: 5px;
}

div > form > label {
    font-size: 20px;
    margin-bottom: 2px;
}

div > form > input[type="submit"] {
    width: 7.9em;
    padding: 10px;
    background-color: green;
    color: khaki;
    font-size: 25px;
    margin-top: 20px;
}

input, label {
    display: block;
}

h1.signup {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
}

li.signup {
    float: right;
    margin-right: 90px;
}

li.login {
    float:right;
    padding-right: 0;
}
 
  